.card_list__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 30px;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pagination > div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}

.pagination_right img{
  transform: rotate(180deg);
}